html {
  background-color: #D8D8D8;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-family: Garamond;
  font-size: 16px;
}


/* header */
#nav {
  background-color: #222;
}

#nav_wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

#nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

#nav ul li {
  display: inline-block;
}

#nav ul li:hover {
  background-color: #333;
}

#nav ul li img {
  vertical-align: middle;
  padding-left: 5px;
}

#nav ul li a,visited {
  color: #ccc;
  display: block;
  padding: 10px;
  text-decoration: none;
}

#nav ul li a:hover {
  color: #ccc;
  text-decoration: none;
}

#nav ul li:hover ul{
  display: block;
}

#nav ul ul{
  display: none;
  position: absolute;
  background-color: #333;
  border: 2.5px solid #222;
  border-top: 0px;
  margin-left: -2.5px;
  font-size: 12px;
}

#nav ul ul li {
  display: block;
}
#nav ul ul li a,visted {
  color: #ccc;
}

#nav ul ul li a:hover {
  color: #099;
}


/* body */

.bodyItem {
  width: 11.25%;
  height: 25px;
  vertical-align: top;
  text-align: center;
  font-size: .75em;
}

.bodyTable {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #D0D0D0;
  border: 2px solid #F6B55C;
}

.currentBody {
  margin-top: 100px;
}


.currentBody h3 {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.currentBody p {
  font-size: 14pt;
  font-family: Garamond;
  margin-left: 5%;
  margin-right: 5%;

}

.experience {
  font-size: 12pt;
  margin-left: 6%;
  margin-right: 6%;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 16;
}

.headerItem {
  width: 16%;
  height: 50px;
  vertical-align: center;
  text-align: center;
  font-size: 1.15em;
}

.headerTable {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #D0D0D0;
  border: 1px dashed #F6B55C;
}

.left-column {
  position: static;
  float: left;
  width: 250px;
}

.middle-column {
  position: static;
  float: center;
  width: 100%;
}

.right-column {
  float: right;
}

/* Blog code */

code {
  background-color: #A9BACC;
  font-family: Garamond;
  padding: 1px;
  white-space: pre-wrap;
  display: inline-block;
}
